
.certificate-container {
    background-color: var(--background-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;

}

/* Scrollable wrapper */
.scroll-wrapper {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: center;
    max-height: 100vh;
    gap :40px;
    scroll-behavior: smooth; /* Smooth scrolling effect */
    padding: 10px;
}
.head{
    color: var(--title);
}

/* Card Styling */
.certificate-card {
    
    border: 2px solid var(--color); /* White border */
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0; /* Space between cards */
    width: 90%; /* Responsive width */
    
    max-width: 500px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

/* Hover Effect */
.certificate-card:hover {
    transform: scale(1.05);
}

/* Image Styling */
.scroll-image {
    width: 100%; /* Responsive */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Paragraph Styling */
.certificate-card p {
    color: var(--color);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

/* Smooth Scroll for Scrollable Content */
.scroll-wrapper::-webkit-scrollbar {
    width: 6px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background-color:var(--color);
    border-radius: 10px;
}

.scroll-wrapper::-webkit-scrollbar-track {
    background: var(--background-color);
}
[theme="dark"]{
    --background-color:#0a0f24;
    --color:#FFF;
    --title:#00bcd4;
    --per: #FFF;
    --circle:#00bcd4;
    
    

}

[theme="light"]
{
    --background-color:#FFF;
    --color:darkgreen;
    --title:darkgreen;
    --per: darkgreen;
    --circle:lightgreen;

    
   
}
