.title {
    text-align: center;
    font-size: 2.5em;
    color: var(--title);
    padding-top: 50px;
}

.skill-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    max-width: 100%;
    width:100vw;
    height: 100vh;
    max-height: 100%;
    padding-left: 10px;
    
}

.technical-skills, .professional-skills {
    width: 48%;
}

.skill-bar {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.circle {
    position:relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #f3f3f3;
    overflow: hidden;
    margin: 20px;
}
.headi{
    color:var(--title);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
  
  .circle-progress {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(var(--circle) 0deg, var(--circle) 180deg);

    z-index: 1;
    
  }
  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  
  
  .circle-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 2;
    color: black;
  }
  

.progress-bar {
    background-color: #2f2f2f;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin-left: 10px;
}

.progress {
    background-color: var(--title);
    height: 100%;
}

#per{
    font-size: 20px;
    color: var(--per);
}


.image {
    width: 50px;
    height: 50px;
}
[theme="dark"]{
    --background-color:#0a0f24;
    --color:#FFF;
    --title:#00bcd4;
    --per: #FFF;
    --circle:#00bcd4;
    
    

}

[theme="light"]
{
    --background-color:#FFF;
    --color:darkgreen;
    --title:darkgreen;
    --per: darkgreen;
    --circle:lightgreen;

    
   
}


